body {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    line-height: 2 !important
}

.index-header .title, .title, h5.description {
    font-family: Roboto, "Times New Roman", serif
}

footer {
    padding: 40px !important
}

.logo-icon {
    height: 50px;
    margin-top: 10px;
    width: auto;
    text-align: center;
    line-height: 28px;
    font-size: 13px;
    display: inline-block
}

.navbar .navbar-nav > li > a {
    color: #fff;
    font-weight: 600
}

.navbar-nav {
    margin: 10px 0 0 !important
}

.navbar {
    background-color: #1C1E49 !important
}

/* ==================================================
   4. Padding Sets
================================================== */
.padding-b0 {
    padding-bottom: 0 !important;
}

.padding-tb20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.padding-tb45 {
    padding-top: 45px;
    padding-bottom: 45px;
}

.padding-tb75 {
    padding-top: 75px;
    padding-bottom: 75px;
}

.padding-tb100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.padding-tb125 {
    padding-top: 125px;
    padding-bottom: 125px;
}

/* ==================================================
   5. Spacers Sets
================================================== */
.spacer-10 {
    height: 10px;
    clear: both;
    width: 100%;
}

.spacer-20 {
    height: 20px;
    clear: both;
    width: 100%;
}

.spacer-30 {
    height: 30px;
    clear: both;
    width: 100%;
}

.spacer-40 {
    height: 40px;
    clear: both;
    width: 100%;
}

.spacer-50 {
    height: 50px;
    clear: both;
    width: 100%;
}

.spacer-75 {
    height: 75px;
    clear: both;
    width: 100%;
}

.spacer-100 {
    height: 100px;
    clear: both;
    width: 100%;
}

@media (min-width: 991px) {
    .push-top {
        margin-top: 75px;
    }
}

.list-group-item:first-child {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important
}

.accent-color, .accordion-heading:hover .accordion-toggle, .accordion-heading:hover .accordion-toggle i, .accordion-heading:hover .accordion-toggle.inactive, .basic-link, .btn-link, .btn-primary .badge, .event-list-item:hover .action-buttons > li > a:hover, .event-ticket .ticket-ico, .event-ticket h4, .events-listing-content .event-title, .flexslider .flex-next:hover, .main-navigation > ul > li > ul > li a:hover, .nav-np .next:hover, .nav-np .prev:hover, .nav-pills > .active > a > .badge, .pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover, .posts-listing .post-time, .quick-info h4, .smaller-cont .lined-info h4 a, .sort-source li.active a, .staff-item .flexslider .flex-prev:hover, .tag-cloud a:hover, .text-primary, .twitter-widget .date, .upcoming-events .event-cats a:hover, a.list-group-item.active > .badge, h3.title .title-border i, p.drop-caps:first-child:first-letter {
    color: #1C1E49
}

.meta-data {
    color: #000
}

a:hover {
    color: #1C1E49
}

h3, h4, h5 {
    color: #1C1E49 !important
}

.basic-link:hover {
    opacity: .9
}

a.list-group-item.active, a.list-group-item.active:focus, a.list-group-item.active:hover {
    background-color: #EEEEEE !important;
    color: #e74c3c
}

.primary {
    background-color: #1C1E49
}

.btn-primary.active, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open .dropdown-toggle.btn-primary, .top-menu li a:hover {
    background: #e74c3c;
    opacity: .9
}

#featured-events ul.slides, .panel-primary > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #FFE082
}

.nav-tabs li a:active, .nav-tabs li.active a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, .panel-primary > .panel-footer + .panel-collapse .panel-body, .title .title-border {
    border-bottom-color: #FFE082
}

.landing-header {
    font-size: 3em;
    display: inline;
    color: #FFF;
    position: relative
}

@media (max-width: 991px) {
    .navbar-header {
        float: none
    }

    .navbar-left, .navbar-nav, .navbar-right {
        float: none !important
    }

    .navbar-toggle {
        display: block
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1)
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px
    }

    .navbar-collapse.collapse {
        display: none !important
    }

    .navbar-nav {
        margin-top: 7.5px
    }

    .navbar-nav > li {
        float: none
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px
    }

    .collapse.in {
        display: block !important
    }
}

td.calendar-day, td.calendar-day-head, td.calendar-day-np {
    border-bottom: 1px solid #999;
    border-right: 1px solid #999
}

.navbar-toggle .icon-bar {
    background-color: #fff !important
}

.navbar-toggle {
    margin-top: 20px !important
}

.index-header {
    padding-top: 85px;
    height: 70vh;
    background: url(../images/new_slide7.jpg) center center;
    background-size: cover;
    overflow: hidden
}

*.index-profile {
    height: 30vh;
    background: url(../images/new_slide7.jpg) center center;
    background-size: cover;
    overflow: hidden
}

* html div.calendar-day, * html div.calendar-day-np {
    height: 80px
}

.index-header .container {
    padding-top: 0
}

.index-header .title, .title {
    font-weight: 400
}

.brand {
    color: #FFF;
    margin-bottom: 0px;
    text-align: left
}

.landing-header {
    font-weight: 600
}

.main-raised {
    border-radius: 6px
}

.main-unraised {
    padding-top: 45px
}

.main {
    background: #FFF;
    position: relative;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .19);
    z-index: 3
}

.section {
    padding: 40px
}

.section-cards {
    padding: 50px
}

.section-primary {
    background-color: #1C1E49
}

h5.description {
    font-size: 1.4em
}

.text-white {
    color: #FFF !important
}

.breadcrumb a, .text-black {
    color: #000 !important
}

.text-small {
    font-size: 12px !important
}

.no-padding {
    padding: 0 !important
}

.breadcrumb > .active {
    color: #1C1E49 !important
}

@media (min-width: 768px) {
    .main-raised {
        margin: -50px 30px 0;
        border-radius: 6px
    }

    .main-unraised {
        margin: 0 30px
    }

    * html div.calendar-day, * html div.calendar-day-np {
        height: 80px
    }

    div.day-number, td.calendar-day-head {
        padding: 5px;
        font-weight: 700;
        text-align: center
    }

    td.calendar-day, td.calendar-day-head, td.calendar-day-np {
        border-bottom: 1px solid #999;
        border-right: 1px solid #999
    }

    table.calendar {
        border-left: 1px solid #999
    }

    td.calendar-day {
        min-height: 80px;
        font-size: 11px;
        position: relative
    }

    td.calendar-day:hover {
        background: #eceff5
    }

    td.calendar-day-np {
        background: #eee;
        min-height: 80px
    }

    td.calendar-day-head {
        background: #ccc;
        width: 120px;
        border-top: 1px solid #999
    }

    div.day-number {
        color: #000;
        margin: -5px -5px 0 0;
        width: 20px
    }

    td.calendar-day, td.calendar-day-np {
        width: 130px;
        padding: 25px
    }
}

div.day-number, td.calendar-day-head {
    padding: 5px;
    font-weight: 700;
    text-align: center
}

table.calendar {
    border-left: 1px solid #999
}

td.calendar-day {
    min-height: 80px;
    font-size: 11px;
    position: relative
}

td.calendar-day:hover {
    background: #eceff5
}

td.calendar-day-np {
    background: #eee;
    min-height: 80px
}

td.calendar-day-head {
    background: #ccc;
    width: 120px;
    border-top: 1px solid #999
}

div.day-number {
    color: #000;
    margin: -5px -5px 0 0;
    width: 20px
}

td.calendar-day, td.calendar-day-np {
    width: 70px
}

.carousel-inner > .item > img {
    display: block;
    width: 100% !important;
    height: 450px !important
}

/*!
 * Datetimepicker for Bootstrap 3
 * version : 4.17.46
 * https://github.com/Eonasdan/bootstrap-datetimepicker/
 */
.bootstrap-datetimepicker-widget {
    list-style: none
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    display: block;
    margin: 2px 0;
    padding: 4px;
    width: 19em
}

@media (min-width: 768px) {
    .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
        width: 38em
    }
}

@media (min-width: 992px) {
    .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
        width: 38em
    }
}

@media (min-width: 1200px) {
    .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
        width: 38em
    }
}

.bootstrap-datetimepicker-widget.dropdown-menu:after, .bootstrap-datetimepicker-widget.dropdown-menu:before {
    content: '';
    display: inline-block;
    position: absolute
}

.bootstrap-datetimepicker-widget.dropdown-menu.bottom:before {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: rgba(0, 0, 0, .2);
    top: -7px;
    left: 7px
}

.bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    top: -6px;
    left: 8px
}

.bootstrap-datetimepicker-widget.dropdown-menu.top:before {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #ccc;
    border-top-color: rgba(0, 0, 0, .2);
    bottom: -7px;
    left: 6px
}

.bootstrap-datetimepicker-widget.dropdown-menu.top:after {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #fff;
    bottom: -6px;
    left: 7px
}

.bootstrap-datetimepicker-widget.dropdown-menu.pull-right:before {
    left: auto;
    right: 6px
}

.bootstrap-datetimepicker-widget.dropdown-menu.pull-right:after {
    left: auto;
    right: 7px
}

.bootstrap-datetimepicker-widget .list-unstyled {
    margin: 0
}

.bootstrap-datetimepicker-widget a[data-action] {
    padding: 6px 0
}

.bootstrap-datetimepicker-widget a[data-action]:active {
    box-shadow: none
}

.bootstrap-datetimepicker-widget .timepicker-hour, .bootstrap-datetimepicker-widget .timepicker-minute, .bootstrap-datetimepicker-widget .timepicker-second {
    width: 54px;
    font-weight: 700;
    font-size: 1.2em;
    margin: 0
}

.bootstrap-datetimepicker-widget button[data-action] {
    padding: 6px
}

.bootstrap-datetimepicker-widget .btn[data-action=incrementHours]::after {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    content: "Increment Hours"
}

.bootstrap-datetimepicker-widget .btn[data-action=incrementMinutes]::after {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    content: "Increment Minutes"
}

.bootstrap-datetimepicker-widget .btn[data-action=decrementHours]::after {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    content: "Decrement Hours"
}

.bootstrap-datetimepicker-widget .btn[data-action=decrementMinutes]::after {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    content: "Decrement Minutes"
}

.bootstrap-datetimepicker-widget .btn[data-action=showHours]::after {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    content: "Show Hours"
}

.bootstrap-datetimepicker-widget .btn[data-action=showMinutes]::after {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    content: "Show Minutes"
}

.bootstrap-datetimepicker-widget .btn[data-action=togglePeriod]::after {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    content: "Toggle AM/PM"
}

.bootstrap-datetimepicker-widget .btn[data-action=clear]::after {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    content: "Clear the picker"
}

.bootstrap-datetimepicker-widget .btn[data-action=today]::after {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    content: "Set the date to today"
}

.bootstrap-datetimepicker-widget .picker-switch {
    text-align: center
}

.bootstrap-datetimepicker-widget .picker-switch::after {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    content: "Toggle Date and Time Screens"
}

.bootstrap-datetimepicker-widget .picker-switch td {
    padding: 0;
    margin: 0;
    height: auto;
    width: auto;
    line-height: inherit
}

.bootstrap-datetimepicker-widget .picker-switch td span {
    line-height: 2.5;
    height: 2.5em;
    width: 100%
}

.bootstrap-datetimepicker-widget table {
    width: 100%;
    margin: 0
}

.bootstrap-datetimepicker-widget table td, .bootstrap-datetimepicker-widget table th {
    text-align: center;
    border-radius: 4px
}

.bootstrap-datetimepicker-widget table th {
    height: 20px;
    line-height: 20px;
    width: 20px
}

.bootstrap-datetimepicker-widget table th.picker-switch {
    width: 145px
}

.bootstrap-datetimepicker-widget table th.disabled, .bootstrap-datetimepicker-widget table th.disabled:hover {
    background: 0 0;
    color: #777;
    cursor: not-allowed
}

.bootstrap-datetimepicker-widget table th.prev::after {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    content: "Previous Month"
}

.bootstrap-datetimepicker-widget table th.next::after {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    content: "Next Month"
}

.bootstrap-datetimepicker-widget table thead tr:first-child th {
    cursor: pointer
}

.bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
    background: #eee
}

.bootstrap-datetimepicker-widget table td {
    height: 54px;
    line-height: 54px;
    width: 54px
}

.bootstrap-datetimepicker-widget table td.cw {
    font-size: .8em;
    height: 20px;
    line-height: 20px;
    color: #777
}

.bootstrap-datetimepicker-widget table td.day {
    height: 20px;
    line-height: 20px;
    width: 20px
}

.bootstrap-datetimepicker-widget table td.day:hover, .bootstrap-datetimepicker-widget table td.hour:hover, .bootstrap-datetimepicker-widget table td.minute:hover, .bootstrap-datetimepicker-widget table td.second:hover {
    background: #eee;
    cursor: pointer
}

.bootstrap-datetimepicker-widget table td.new, .bootstrap-datetimepicker-widget table td.old {
    color: #777
}

.bootstrap-datetimepicker-widget table td.today {
    position: relative
}

.bootstrap-datetimepicker-widget table td.today:before {
    content: '';
    display: inline-block;
    border: solid transparent;
    border-width: 0 0 7px 7px;
    border-bottom-color: #337ab7;
    border-top-color: rgba(0, 0, 0, .2);
    position: absolute;
    bottom: 4px;
    right: 4px
}

.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover {
    background-color: #e74c3c;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25)
}

.bootstrap-datetimepicker-widget table td.active.today:before {
    border-bottom-color: #fff
}

.bootstrap-datetimepicker-widget table td.disabled, .bootstrap-datetimepicker-widget table td.disabled:hover {
    background: 0 0;
    color: #777;
    cursor: not-allowed
}

.bootstrap-datetimepicker-widget table td span {
    display: inline-block;
    width: 54px;
    height: 54px;
    line-height: 54px;
    margin: 2px 1.5px;
    cursor: pointer;
    border-radius: 4px
}

.bootstrap-datetimepicker-widget table td span:hover {
    background: #eee
}

.bootstrap-datetimepicker-widget table td span.active {
    background-color: #337ab7;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25)
}

.bootstrap-datetimepicker-widget table td span.old {
    color: #777
}

.bootstrap-datetimepicker-widget table td span.disabled, .bootstrap-datetimepicker-widget table td span.disabled:hover {
    background: 0 0;
    color: #777;
    cursor: not-allowed
}

.bootstrap-datetimepicker-widget.usetwentyfour td.hour {
    height: 27px;
    line-height: 27px
}

.bootstrap-datetimepicker-widget.wider {
    width: 21em
}

.bootstrap-datetimepicker-widget .datepicker-decades .decade {
    line-height: 1.8em !important
}

.input-group.date .input-group-addon {
    cursor: pointer
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}