.responsive-calendar .controls {
    text-align: center;
}

.responsive-calendar .controls a {
    cursor: pointer;
}

.responsive-calendar .controls h4 {
    display: inline;
}

.responsive-calendar .day-headers,
.responsive-calendar .days {
    font-size: 0;
}

.responsive-calendar .day {
    display: inline-block;
    position: relative;
    font-size: 14px;
    background-color: #eee;
    border: 1px solid;
    width: 14.285714285714286%;
    text-align: center;
}

.responsive-calendar .day a {
    color: #000000;
    display: block;
    cursor: pointer;
    padding: 20% 0 20% 0;
}

.responsive-calendar .day a:hover {
    background-color: #eee;
    text-decoration: none;
}

.responsive-calendar .day.header {
    border-bottom: 1px gray solid;
}

.responsive-calendar .day.active a {
    background-color:#A5D6A7;
    color: #000000;
}

.responsive-calendar .day.active a:hover {
    background-color: #C8E6C9;
}

.responsive-calendar .day.active .not-current {
    background-color: #8fcaef;
    color: #ffffff;
}

.responsive-calendar .day.active .not-current:hover {
    background-color: #bcdff5;
}

.responsive-calendar .day.not-current a {
    color: #7c7c7c;
}

.responsive-calendar .day .badge {
    position: absolute;
    top: 20%;
    right: 5px;
    z-index: 1;
}
